#root, body {
  background: url(./img/notebook-bg.jpg);
  background-position: 0;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  background-attachment: fixed;
  /* overflow: hidden; */
  margin: 0;
 
}

a {
  color: #666666;
  text-decoration: none;
  font-size: 14px;
  /* font-size: 10px; */
}

a:hover {
  text-decoration: none;
  color: #b9b9b9;
}

.todo-container {
  min-width: 375px;
  max-width: 500px !important;
  /* max-height: 325px; */
  overflow: auto;
  margin: 0 0 5px 0 !important;
  /* overflow-y: auto; */
}
